.header__lang-link {
  display: flex;
  width: 30px;
  height: 28px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 18px;
}
.header__lang-link:last-of-type {
  margin-right: 0;
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .header {
    margin: auto;
    min-width: 1024px;
    }
  }
  @media all and (min-width: 768px) and (max-width: 1024px) {
  .header {
    margin: auto;
    min-width: 768px;
    }
  }
  @media all and (min-width: 0) and (max-width: 768px) {
  .header {
    margin: auto;
    min-width: 320px;
    }
  }
