.place__paragaph {
  width: 484px;
  margin-bottom: 27px;
  /* height: 203px; */
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  color: #FFFFFF;
}
.place__paragaph:last-of-type {
  margin-bottom: 0;
}
