.footer__menu {
  display: flex;
  align-self: center;
}
@media screen and (max-width: 1024px) {
  .footer__menu {

  }
}
@media screen and (max-width: 700px) {
  .footer__menu {
    margin-left: 16px;
  }
}
@media screen and (max-width: 525px) {
  .footer__menu {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
