.footer__copyright {
  display: grid;
  /* max-width: 1184; */
  /* display: grid; */
  min-width: 10%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-align: right;
  color: #FFF;

}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    align-self: center;

    }
  }
  @media screen and (max-width: 756px) {
    .footer__copyright {
      text-align: left;
      margin-top: 32px;
    }
  }

  }
  @media screen and (max-width: 450px) {
  .footer__copyright {
    margin-top: 48px;
    text-align: left;
    font-size: 14px;
    line-height: 14px;
    }
  }
