.intro__text {
  margin-top: 40px;
  width: 690px;
  height: 208px;
  color: #FFF;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  /* or 26px */
}
