.lead__subtitle {
  width: 640px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  text-align: center;
  color: #FFF;
  margin-bottom: 64px;
  margin-top: 0;
  text-align: center;
}
