.cover {
  max-width: 1184px;
  position: relative;
  padding-top: 92px;
}
@media screen and (max-width: 1280px) {
  .cover {
  }
}
@media screen and (max-width: 756px) {
  .cover {
    padding-top: 90px;
  }
}
@media screen and (max-width: 450px) {
  .cover {
    padding-top: 66px;
  }
}
@media screen and (max-width: 450px) {
  .cover {
    min-height: 100%;
  }
}
