.cover__title {
  max-width: 560px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
  text-decoration: none;
  color: #FFF;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 32px;
}
@media screen and (max-width: 1280px) {
  .cover__title {
  }
}
@media screen and (max-width: 756px) {
  .cover__title {
  }
}
@media screen and (max-width: 522px) {
  .cover__title {
    max-width: 388px;
    font-size: 55px;
    line-height: 50px;
  }
}
@media screen and (max-width: 450px) {
  .cover__title {
    max-width: 288px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
