.place {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 984px;
  height: 660px;
  margin: auto auto 80px;
  /*display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "place__title place__website"
    "place__image place__paragraph";
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;*/
}
.place:last-of-type {
  margin-bottom: 0;
}
