.footer {
  max-width: 1184px;
  margin-left: 48px;
  margin-right: 48px;
  /* display: grid;
  grid-template-columns: 41% 19%;
  gap: 40%; */
  /* grid-template-columns: repeat(auto-fit, minmax(80px, 5fr)); */
  padding-top: 92px;
  padding-bottom: 24px;

}
@media screen and (max-width: 1024px) {
  .footer {
  margin-left: 48px;
    }
  }
  @media screen and (max-width: 768px) {
  .footer {
   margin-left: 24px;
   /* grid-template-columns: repeat(5, 9%) 55%; */
    }
  }
