.place__promo {
  /* display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between; */
  max-width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  grid-gap: 48px;
  margin: 0;
  /*display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "place__title place__website"
    "place__image place__paragraph";
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;*/
}
@media screen and (max-width: 1024px) {
  .place__promo {

  }
  }
@media screen and (max-width: 683px) {
  .place__promo {

  }
  }
@media screen and (max-width: 340px) {
  .place__promo {

  }
  }

