.place__website {
  max-width: 456px;
  margin-bottom: 48px;
  grid-area: website;
  /* display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start; */
}
@media screen and (max-width: 1024px) {
  .place__preview {

  }
  }
@media screen and (max-width: 683px) {
  .place__preview {

  }
  }
@media screen and (max-width: 340px) {
  .place__preview {

  }
  }
