.place__website {
  max-width: 456px;
  /* margin-bottom: 48px; */
  grid-area: website;
  align-self: end;
}
@media screen and (max-width: 1024px) {
  .place__website {

  }
}
@media screen and (max-width: 683px) {
  .place__website {

  }
}
@media screen and (max-width: 340px) {
  .place__website {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
  }
}
