.page {
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  min-width: 1280px;
  /*min-height: 6800px;
  padding-top: 22px;*/
  background-color: #2A2C2F;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif, line-height;
}
/*сброс отступов*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul, li, p, h3, h2, div, img {
  border: 1px solid red;
}
/*сброс отступов*/

.header {
  background-color: #E5E5E5;
  background: #2A2C2F;
  min-width: 1184px;
  min-height: 52px;
  padding: 28px 48px 0 48px;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}
.Header__logo_menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.header__logo {
  background-image: url(../../../images/header-logo.svg);
  width: 176px;
  height: 52px;
  /*align-self: start;
  box-sizing: border-box;*/
}
.header__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__lang-link {
  display: flex;
  width: 30px;
  height: 28px;
  left: 1155px;
  top: 46px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-align: right;
  text-decoration: none;
  /*text-decoration-line: underline;*/
  color: #FFFFFF;
  margin-right: 18px;
}
.header__lang-link:last-of-type {
  margin-right: 0;
}
.header__lang-link-active {
  text-decoration: none;
}








.places {
  min-width: 984px;
  padding: 92px 0 92px;
  margin: 0 148px 0;
}
.place-list {
  display: flex;
  flex-direction: column;
  /*display: grid;
  grid-template-columns: repeat(auto-fill, 984px);
  gap: 40px;*/
}











