.page {
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  min-width: 1280px;
  /*min-height: 6800px;
  padding-top: 22px;*/
  background-color: #2A2C2F;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif, line-height;
}
/*сброс отступов*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul, li, p, h3, h2, div, img {
  border: 1px solid red;
}
/*сброс отступов*/

.header {
  background-color: #E5E5E5;
  background: #2A2C2F;
  min-width: 1184px;
  min-height: 52px;
  padding: 28px 48px 0 48px;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}
.Header__logo_menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.header__logo {
  background-image: url(../../../images/header-logo.svg);
  width: 176px;
  height: 52px;
  /*align-self: start;
  box-sizing: border-box;*/
}
.header__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__lang-link {
  display: flex;
  width: 30px;
  height: 28px;
  left: 1155px;
  top: 46px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-align: right;
  text-decoration: none;
  /*text-decoration-line: underline;*/
  color: #FFFFFF;
  margin-right: 18px;
}
.header__lang-link:last-of-type {
  margin-right: 0;
}
.header__lang-link-active {
  text-decoration: none;
}
.lead {
  min-width: 984px;
  min-height: 1005px;
  background-color: #2A2C2F;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  padding: 0 148px 0;
}
.lead__title {
  width: 720px;
  height: 200px;
  left: 280px;
  top: 136px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* or 104% */
  display: flex;
  text-align: center;
  color: #FFF;
  margin-bottom: 32px;
  margin-top: 0;
}
.lead__subtitle {
  width: 640px;
  height: 72px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  text-align: center;
  color: #FFF;
  margin-bottom: 64px;
}
.lead__image {
  width: 984px;
  height: 615px;
}
.lead__caption {
  position: relative;
  width: 158px;
  height: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height, or 140% */
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFF;
  margin: 8px 0 0 -820px;

}
.intro {
  width: 690px;
  height: 429px;
  padding: 92px 442px 92px 148px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  margin: auto;
}
.intro__title {
  width: 690px;
  height: 58px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  /* identical to box height, or 107% */
  color: #FFF;
}
.intro__text {
  margin-top: 40px;
  width: 690px;
  height: 208px;
  color: #FFF;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  /* or 26px */
}
.intro__list {
  width: 690px;
  height: 90px;
  margin-top: 33px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #FFF;
}
.photo-grid {
  width: 1184px;
  height: 671px;
  margin: auto;
  padding: 0 48px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 284px);
  grid-template-rows: repeat(4, 1fr);
  gap: 16px;
  align-items: center;
  justify-content: space-around;
}
.photo-grid__item {
  width: 284px;
  height: 213px;
  /*display: grid;
  grid-template-columns: ;
  grid-template-rows: ;
  gap: 20px;*/
}
.places {
  min-width: 984px;
  padding: 92px 0 92px;
  margin: 0 148px 0;
}
.place-list {
  display: flex;
  flex-direction: column;
  /*display: grid;
  grid-template-columns: repeat(auto-fill, 984px);
  gap: 40px;*/
}
.place {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 984px;
  height: 660px;
  margin: auto auto 80px;
  /*display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "place__title place__website"
    "place__image place__paragraph";
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;*/
}
.place:last-of-type {
  margin-bottom: 0;
}
.place__title {
  width: 460px;
  height: 152px;
  margin-bottom: 48px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  color: #FFF;
}
.place__image {
  width: 460px;
  height: 460px;
}
.place__website {
  min-width: 456px;
  min-height: 46px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}
.place__url-heading {
  width: 456px;
  height: 12px;
  margin: 107px 0 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
/* identical to box height, or 100% */
  letter-spacing: 0.2em;
  color: #AAA;
}
.place__link {
  width: 456px;
  height: 22px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  text-decoration-line: underline;
  color: #FFF;
}
.place__link:hover {
  opacity: 0.8;
}
.place__paragaph {
  width: 484px;
  margin-bottom: 27px;
  /* height: 203px; */
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  color: #FFFFFF;
}
.place__paragaph:last-of-type {
  margin-bottom: 0;
}
.cover {
  width: 1184px;
  height: 740px;
  display: flex;
  margin: auto;
}
.cover__blok {
  display: flex;
  margin: 0 auto 0;
  align-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.cover__title {
  position: absolute;
  z-index: 3;
  margin: 232px 195px 293px;
  width: 560px;
  height: 152px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
  text-decoration: none;
  color: #FFF;
}
.cover__subtitle {
  position: absolute;
  z-index: 3;
  margin: 424px 322px 195px;
  width: 360px;
  height: 66px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  color: #FFF;
}
.cover__overlay {
  position: relative;
  z-index: 2;
  min-width: 1184px;
  min-height: 740px;
  background: #2A2C2F;
  opacity: 0.3;
  align-items: center;
  box-sizing: border-box;
}
.cover__overlay:hover {
  background: #2A2C2F;
  opacity: 0.8;
}
.cover__background {
  position: absolute;
  z-index: 1;
  width: 1184px;
  height: 740px;
  background: url(../images/cover-trains.jpg);
  background-color: #000;
  background-size: contain;
  align-items: center;
  opacity: 0.8;
}


