.header__lang-link {
  display: flex;
  width: 30px;
  height: 28px;
  left: 1155px;
  top: 46px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-align: right;
  text-decoration: none;
  /*text-decoration-line: underline;*/
  color: #FFFFFF;
  margin-right: 18px;
}
.header__lang-link:last-of-type {
  margin-right: 0;
}
.header__lang-link-active {
  text-decoration: none;
}
